.Bold{
    font-weight: 600;
}

.Red{
    color: red;
}

.Cockpit button{
    background-color: red;
    font: inherit;
    border: 1px solid rgb(0, 247, 255);
    padding: 9px;
    cursor: pointer;
    color: rgb(182, 45, 152);
}

.Cockpit button:hover {
    background-color: rgb(66, 202, 12);
    color: black;
}

.Cockpit button.Blue{
    background-color: pink;
    font: inherit;
    border: 1px solid rgb(89, 0, 255);
    padding: 9px;
    cursor: pointer;
    color: rgb(218, 207, 215);
}

.Cockpit button.Blue:hover {
    background-color: rgb(202, 173, 12);
    color: black;
}